<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndX</key>
	<real>7200</real>
	<key>Stars</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Cross</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>42</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-40</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleHLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleVLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>130</integer>
				<key>x</key>
				<integer>265</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>110</integer>
				<key>x</key>
				<integer>570</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>310</integer>
				<key>x</key>
				<integer>1090</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>280</integer>
				<key>x</key>
				<real>1450</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>240</integer>
				<key>x</key>
				<integer>1700</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>210</integer>
				<key>x</key>
				<real>2120</real>
			</dict>
			 <dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>190</integer>
				<key>x</key>
				<real>2530</real>
			</dict>
		<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>260</integer>
				<key>x</key>
				<integer>2800</integer>
			</dict>
		<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>160</integer>
				<key>x</key>
				<integer>3280</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>320</integer>
				<key>x</key>
				<real>3000</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>290</integer>
				<key>x</key>
				<real>3250</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>220</integer>
				<key>x</key>
				<real>3460</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>160</integer>
				<key>x</key>
				<real>3660</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>230</integer>
				<key>x</key>
				<real>3820</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>4000</integer>
				<key>y</key>
				<integer>260</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<integer>4310</integer>
				<key>y</key>
				<real>290</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<integer>5740</integer>
				<key>y</key>
				<real>220</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>6400</integer>
				<key>y</key>
				<real>120</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<integer>6800</integer>
				<key>y</key>
				<real>200</real>
			</dict>
		</array>
	</dict>
	<key>Platforms</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Double</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleBreak</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>200</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>90</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>520</integer>
				<key>y</key>
				<integer>30</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>100</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<real>1000</real>
				<key>y</key>
				<integer>160</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<real>1250</real>
				<key>y</key>
				<integer>200</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<real>1500</real>
				<key>y</key>
				<integer>135</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>1900</integer>
				<key>y</key>
				<integer>230</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>2250</integer>
				<key>y</key>
				<real>110</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>2650</integer>
				<key>y</key>
				<integer>200</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>2750</integer>
				<key>y</key>
				<real>200</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>2900</integer>
				<key>y</key>
				<integer>300</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>3160</integer>
				<key>y</key>
				<real>270</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>3360</integer>
				<key>y</key>
				<real>300</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>3560</integer>
				<key>y</key>
				<real>140</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>3860</integer>
				<key>y</key>
				<real>170</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>4000</integer>
				<key>y</key>
				<real>280</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>4300</integer>
				<key>y</key>
				<real>210</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>4530</integer>
				<key>y</key>
				<real>300</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>4800</integer>
				<key>y</key>
				<real>270</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>5000</integer>
				<key>y</key>
				<real>270</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>5280</integer>
				<key>y</key>
				<real>220</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>5460</integer>
				<key>y</key>
				<real>170</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>5590</integer>
				<key>y</key>
				<real>120</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>5800</integer>
				<key>y</key>
				<real>20</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>6000</integer>
				<key>y</key>
				<real>120</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
