<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>90</integer>
				<key>x</key>
				<integer>195</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>y</key>
				<integer>30</integer>
				<key>x</key>
				<integer>550</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1070</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>60</integer>
				<key>x</key>
				<real>1230</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>y</key>
				<integer>135</integer>
				<key>x</key>
				<real>1500</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>200</integer>
				<key>x</key>
				<real>2050</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>180</integer>
				<key>x</key>
				<real>2190</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>130</integer>
				<key>x</key>
				<real>2500</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>270</integer>
				<key>x</key>
				<integer>2900</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>100</integer>
				<key>x</key>
				<real>3200</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>100</integer>
				<key>x</key>
				<real>3460</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>260</integer>
				<key>x</key>
				<integer>3600</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>270</integer>
				<key>x</key>
				<integer>3800</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>30</integer>
				<key>x</key>
				<integer>4000</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>100</integer>
				<key>x</key>
				<real>4200</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>270</integer>
				<key>x</key>
				<real>4530</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<real>270</real>
				<key>x</key>
				<real>4610</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<real>270</real>
				<key>x</key>
				<real>4720</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>y</key>
				<real>220</real>
				<key>x</key>
				<integer>4900</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>160</integer>
				<key>x</key>
				<real>5180</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>y</key>
				<integer>180</integer>
				<key>x</key>
				<integer>5460</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>60</integer>
				<key>x</key>
				<real>5765</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>60</integer>
				<key>x</key>
				<real>5820</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>200</integer>
				<key>x</key>
				<real>6100</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>200</integer>
				<key>x</key>
				<real>6300</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>y</key>
				<integer>50</integer>
				<key>x</key>
				<real>6550</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>y</key>
				<integer>170</integer>
				<key>x</key>
				<real>6950</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>200</integer>
				<key>x</key>
				<real>7250</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>y</key>
				<integer>130</integer>
				<key>x</key>
				<real>7380</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>y</key>
				<integer>210</integer>
				<key>x</key>
				<real>7600</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>20</integer>
				<key>x</key>
				<integer>8000</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>y</key>
				<integer>130</integer>
				<key>x</key>
				<real>8300</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Patterns</key>
		<dict>
			<key>DoubleBreak</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>200</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Double</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Stars</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>130</integer>
				<key>x</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>100</integer>
				<key>x</key>
				<integer>620</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>110</integer>
				<key>x</key>
				<integer>875</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>175</integer>
				<key>x</key>
				<real>1390</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>250</integer>
				<key>x</key>
				<real>1850</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>260</integer>
				<key>x</key>
				<real>2155</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>190</integer>
				<key>x</key>
				<real>2385</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>230</integer>
				<key>x</key>
				<real>2780</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>300</integer>
				<key>x</key>
				<real>3125</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>230</integer>
				<key>x</key>
				<real>3476</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>170</integer>
				<key>x</key>
				<real>3920</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<real>4370</real>
				<key>y</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<real>5120</real>
				<key>y</key>
				<integer>270</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<real>5470</real>
				<key>y</key>
				<integer>220</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>5950</real>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>6290</real>
				<key>y</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>6340</real>
				<key>y</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>6390</real>
				<key>y</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<real>6470</real>
				<key>y</key>
				<integer>130</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<real>6810</real>
				<key>y</key>
				<integer>140</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubelHLine</string>
				<key>x</key>
				<real>6830</real>
				<key>y</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>7150</real>
				<key>y</key>
				<integer>250</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<real>7400</real>
				<key>y</key>
				<integer>290</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>7900</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<real>8120</real>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>8250</integer>
				<key>y</key>
				<integer>155</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>8300</real>
				<key>y</key>
				<integer>155</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>8350</real>
				<key>y</key>
				<integer>155</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>8400</real>
				<key>y</key>
				<integer>155</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>8450</real>
				<key>y</key>
				<integer>155</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<real>8500</real>
				<key>y</key>
				<integer>155</integer>
			</dict>
		</array>
		<key>Patterns</key>
		<dict>
			<key>Diamond</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Cross</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>42</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-40</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleHLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleVLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>EndX</key>
	<real>8700</real>
	<key>Devils</key>
	<dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Devil</string>
				<key>y</key>
				<integer>250</integer>
				<key>x</key>
				<real>1000</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Devil</string>
				<key>y</key>
				<integer>345</integer>
				<key>x</key>
				<real>2200</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Devil</string>
				<key>y</key>
				<integer>200</integer>
				<key>x</key>
				<integer>4050</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Devil</string>
				<key>y</key>
				<integer>300</integer>
				<key>x</key>
				<real>5600</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Devil</string>
				<key>y</key>
				<integer>230</integer>
				<key>x</key>
				<real>6600</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Devil</string>
				<key>y</key>
				<integer>340</integer>
				<key>x</key>
				<real>7100</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Devil</string>
				<key>y</key>
				<integer>160</integer>
				<key>x</key>
				<integer>8000</integer>
			</dict>
		</array>
		<key>Patterns</key>
		<dict>
			<key>Devil</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
