<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndX</key>
	<real>7200</real>
	<key>Stars</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Cross</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>42</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-40</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleHLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleVLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>130</integer>
				<key>x</key>
				<integer>265</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>110</integer>
				<key>x</key>
				<integer>570</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>310</integer>
				<key>x</key>
				<integer>1150</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<real>1450</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>1700</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<real>2040</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>2900</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>3280</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<real>3660</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>4040</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<real>5080</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<real>5740</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<real>6400</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<real>6800</real>
			</dict>
		</array>
	</dict>
	<key>Platforms</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Double</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleBreak</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>200</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>520</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<real>1000</real>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<real>1250</real>
				<key>y</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<real>1500</real>
				<key>y</key>
				<integer>135</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>1900</integer>
				<key>y</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>2250</integer>
				<key>y</key>
				<real>110</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>2650</integer>
				<key>y</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>2750</integer>
				<key>y</key>
				<real>200</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>2900</integer>
				<key>y</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<real>3160</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<real>4400</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<real>4480</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<real>4560</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<real>4640</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<real>4720</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<real>4800</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<real>4880</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>4960</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
