<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndX</key>
	<real>7200</real>
	<key>Stars</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Cross</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>42</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-40</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleHLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleVLine</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>130</integer>
				<key>x</key>
				<integer>265</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>110</integer>
				<key>x</key>
				<integer>600</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>220</integer>
				<key>x</key>
				<integer>940</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>260</integer>
				<key>x</key>
				<real>1385</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>y</key>
				<integer>250</integer>
				<key>x</key>
				<real>1745</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>210</integer>
				<key>x</key>
				<real>2135</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>190</integer>
				<key>x</key>
				<real>2540</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>270</integer>
				<key>x</key>
				<integer>2800</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>y</key>
				<integer>300</integer>
				<key>x</key>
				<real>3068</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>200</integer>
				<key>x</key>
				<real>3476</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>y</key>
				<integer>230</integer>
				<key>x</key>
				<real>3850</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<real>4370</real>
				<key>y</key>
				<integer>250</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<real>5010</real>
				<key>y</key>
				<integer>270</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<real>5940</real>
				<key>y</key>
				<integer>180</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<real>5975</real>
				<key>y</key>
				<integer>180</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleVLine</string>
				<key>x</key>
				<integer>6010</integer>
				<key>y</key>
				<integer>180</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<real>6165</real>
				<key>y</key>
				<integer>230</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleHLine</string>
				<key>x</key>
				<real>6280</real>
				<key>y</key>
				<integer>230</integer>
			</dict>
		</array>
	</dict>
	<key>Platforms</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Double</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleBreak</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>110</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>200</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>90</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>550</integer>
				<key>y</key>
				<integer>30</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>100</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<real>1130</real>
				<key>y</key>
				<integer>160</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<real>1500</real>
				<key>y</key>
				<integer>135</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>1900</integer>
				<key>y</key>
				<integer>230</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>2250</integer>
				<key>y</key>
				<real>110</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<real>2640</real>
				<key>y</key>
				<integer>200</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<real>2720</real>
				<key>y</key>
				<real>200</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>2900</integer>
				<key>y</key>
				<integer>300</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<real>3100</real>
				<key>y</key>
				<real>270</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<real>3280</real>
				<key>y</key>
				<integer>140</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>3560</integer>
				<key>y</key>
				<real>140</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>3970</integer>
				<key>y</key>
				<integer>260</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>4300</integer>
				<key>y</key>
				<real>210</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<real>4720</real>
				<key>y</key>
				<integer>270</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>4800</integer>
				<key>y</key>
				<real>270</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<real>4880</real>
				<key>y</key>
				<real>270</real>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<real>5180</real>
				<key>y</key>
				<real>220</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>5460</integer>
				<key>y</key>
				<real>170</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<real>5750</real>
				<key>y</key>
				<integer>60</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<real>6200</real>
				<key>y</key>
				<integer>200</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
